# Copia este archivo como .env.local y rellena tus valores de Supabase
# NUNCA subas .env.local a git

VITE_SUPABASE_URL=https://cskceookbyymorhltksa.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_3QJUnu7kqe3pMrTXhDQayg_EjtS-tVm
